.cart {
    padding-top: 89px;
    padding-bottom: 194px;
}

.cart__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.cart__price {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    gap: 5px;
    margin-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.cart__price .filler {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed black ;
}

.cart__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-weight: 500;
    font-size: 32px;
    width: 100%;
    border: 1px solid black;
    padding: 75px;
    width: 100%;
    border-radius: 60px;
}

.cart__p-empty {
    opacity: .5;
    text-align: center;
}



.cart__button {
    width: 100%;
}

@media (max-width: 1439px) {
    .cart {
        padding-top: 42px;
        padding-bottom: 140px;
    }
    .cart__list {
        gap: 10px;
        margin-bottom: 15px;
    }
    .cart__price {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 0;
    }

    .cart__price.filler {
        display: none;
    }
}