.image-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000053;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: var(--animation-appear) 0.3s ease;
}

.image-preview__box {
    background: #6d6d6d53;
}

.image-preview__photo {
    width: 70vw; 
    max-width: 70vw;  
}

@media (max-width: 1439px) {
    .image-preview__photo {
        width: 95vw;
        max-width: 95vw;
    }
}