.promo__box {
    display: flex;
    width: 100%;
}

.promo__input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    width: 100%;
}

.promo__button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.promo__input.success {
    color: var(--color-good);
    border-color: var(--color-good);
    pointer-events: none;
}

.promo__button.success {
    opacity: 1 !important;
    background: var(--color-good);
    pointer-events: none;
}

.promo__button .img {
    display: none;
}


@media (max-width: 1439px) {
    .promo__input {
        height: 45px;
    }
    .promo__button {
        height: 45px !important;
        font-size: 0 !important;
        gap: 0px;
    }
    .promo__button .img {
        display: block;
        width: 14px;
    }
}